MPT_API_BASE_URL=http://devmock:8000
MPT_API_TOKEN=<vendor-api-token>
MPT_TOOL_STORAGE_TYPE=local
MPT_TOOL_STORAGE_AIRTABLE_API_KEY=<fake-airtable-api-key>
MPT_TOOL_STORAGE_AIRTABLE_BASE_ID=<fake-storage-airtable-base-id>
MPT_TOOL_STORAGE_AIRTABLE_TABLE_NAME=<fake-storage-airtable-table-name>
SDK_EXTENSION_ID=<fake-extension-id>
SDK_EXTENSION_EXTERNAL_ID=<fake-extension-external-id>
SDK_EXTENSION_URL=http://devmock:8000
SDK_EXTENSION_API_KEY=<fake-extension-api-key>
SDK_OBSERVABILITY_ENABLED=false
